@font-face { font-family: 'HangultuelGothic'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_ten@1.10/HangultuelGothic.woff') format('woff'); font-weight: normal; font-style: normal; }

body{
  font-family: 'HangultuelGothic';
}
}
.navbar button:hover{
    background-color: rgb(247, 153, 137);
    color: white;
}
.search-button{
    padding-left: 20em;
}
.main{
    padding: 2em;
    margin-top: 5em;
    padding-left: 3em;
    padding-right: 3em;
    padding-top: 2em;
    background-color: whitesmoke;
    height: 75em;
    margin-bottom: 3em;
   
}
.main-item{
    background-color: white;
    border-radius: 0em;
    padding: 4em;
    font-family: 'MapoDPPA';
    margin-bottom: 2em;
    border-style: solid;
    border-color: rgb(255, 143, 75);
}
.main-item h2{
    margin-left: 1em;
}


.thumbnail{
    display: flex;
    margin-left: 3em;
    
    
}

.card:hover{
    border: rgb(255, 99, 71, 10);
    border-style: solid;

}

a:link { color: red; text-decoration: none;}
 a:visited { color: black; text-decoration: none;}
 a:hover { color: black; text-decoration:none;}

.foot{
     background-color: white;
     height: 3em;
     clear: both;
     margin-top: 0em;
 }
.foot p{
    margin-left: 1.3em;
    color: gray;
}

.made{
    color: gray;
}

.row-flex{
    display: flex;
}

.button-margin{

    margin-left: -1em;
}

.border-round{
    border-radius: 3em;
    color: rgb(255, 143, 75);
    border-color: rgb(255, 143, 75);
}

.minus-margin{
    margin-top: -4em;
}

.social-part .fa{
    padding-right:20px;
  }
  ul li a{
    margin-right: 20px;
  }
  .h1, h1 {
    font-size: 2.5rem;
    
  }
  .navbar {
    position: relative;
    display: inline;
    flex-wrap: wrap;
    align-items: center;
    padding: .5rem 1rem;
  } 
  .navbar-fixed-top {
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    z-index: 1030;
    }
