@font-face { font-family: 'HangultuelGothic'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_ten@1.10/HangultuelGothic.woff') format('woff'); font-weight: normal; font-style: normal; }

body{
  font-family: 'HangultuelGothic';
}
body {
    padding-top: 2.5cm;
    padding-bottom: 2.5cm;
    background-color: rgb(236, 236, 236);

}

.container {
    border: 0.1cm solid #ff8f4b;
    background-color: white;
    padding-bottom: 3cm;
    
}

.row {
    margin-left: 3cm;
}

body .card-body {
    text-align: center;
}

.card-text {
    font-size: 0.6cm;
}

.card-text2 {
    margin-left: 3cm;
    text-align: left;
    font-size: 0.4cm;
}

.card {
    border: 0.05cm solid #ff8f4b;
}

.btn {
    background-color: #ff8f4b;
    border: #ff8f4b;
    color: white;
}

.navbar {
    position: relative;
    display: inline;
    flex-wrap: wrap;
    align-items: center;
    padding: .5rem 1rem;
  } 
  .navbar-fixed-top {
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    z-index: 1030;
    }