.list-box-size{
        border-color: brown;
        border-style: solid
}

.commu{
        margin-top: 7em;
}
@font-face { font-family: 'MapoDPPA'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/MapoDPPA.woff') format('woff'); font-weight: normal; font-style: normal; }

body{
    font-family: 'MapoDPPA';
   }