@font-face { font-family: 'HangultuelGothic'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_ten@1.10/HangultuelGothic.woff') format('woff'); font-weight: normal; font-style: normal; }

body{
  font-family: 'HangultuelGothic';
}
.nav{
    
    width: 90em;
    height: 10em;
}

.main{
    background-color: whitesmoke;
    width: 90em;
    height: 100em;
}

.main-item{
    background-color: white;
    float: left;
    width: 55em;
    height: 80em;
    margin-left: 8em;
    margin-top: 5em;

}

.main-customer{
    background-color:white;
    float: right;
    width: 20em;
    height: 80em;
    margin-right: 6em;
    margin-top: 5em;
}

.menu-margin{
    margin-top: 5em;
    margin-left: 3em;
}


